h1{
    color: blueviolet;
    
}
p{
    color: white;
    text-align: right;
    
}
button{
    color: yellow;
    background-color: green;
}
body{
    background-color: #beb2cb;
    text-align: center;
}

#box{
    color: red;
    background-color: black;
    text-align: center;
}
.heading{
    color: red;
    background-color: black;
} 