body {
    text-align: center;
}

div .btn {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #d95988;
}

.purple {
    background-color: #819ff9;
}

.green {
    background-color: #63aac0;
}

button {
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #1f2937;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  cursor: pointer;
  margin: 20px
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: green;
}